@import "tailwindcss";

body {
  font-family: Arial, sans-serif, Baloo;
  overflow: hidden;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
  url("assets/images/Applet Geometry BG.png");  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* Touch optimizations
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation; */
  
  min-height: 100vh;
}

